@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
:root {
	--background: #f8fafc;
	--foreground: #0f172acf;
	--accent: #0f172a;
}

[data-theme="dark"] {
	--background: #121212;
	--foreground: #f5f5f5a0;
	--accent: #f5f5f5;
}

[data-theme="light"] {
	--background: #f8fafc;
	--foreground: #0f172acf;
	--accent: #0f172a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #f5f5f5a0;
		--accent: #f5f5f5;
	}
}

body {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	background-color: var(--background);
	color: var(--foreground);
}
#container {
	background-color: var(--background);
	color: var(--foreground);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--accent);
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-weight: 600;
}

h1 {
	font-size: 2.25rem /* 36px */;
	line-height: 2.5rem /* 40px */;
}
h2 {
	font-size: 1.5rem;
	line-height: 2rem;
}
h3 {
	font-size: 1.25rem /* 20px */;
	line-height: 1.75rem /* 28px */;
}
ul {
	padding: 0px 0 0px 16px;
}

li {
	margin: 0;
	padding: 0em 0em 0em 0.5em;
	list-style: disc;
}

@media (min-width: 768px) {
	h1 {
		font-size: 3rem;
		line-height: 1;
	}

	h2 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
	h3 {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	ul {
		/* margin: 1em 0; */
		padding: 0px 0 0px 40px;
	}

	li {
		margin: 0;
		padding: 0em 0em 0em 1em;
		list-style: disc;
	}
}
a {
	color: var(--accent);
}
a:hover {
	opacity: 0.8;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.base-border {
	border-bottom: 0.5px solid transparent;
	border-image: linear-gradient(125deg, #398af4 19%, #35e5ce 100%) 1;
}
